body {
    background: linear-gradient(to bottom, #9B86BD, #E2BBE9);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-card {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}