#registrations-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .registrations-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th, td {
      padding: 12px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f4f4f4;
      font-weight: bold;
    }

    tr:hover {
      background-color: #f1f1f1;
      scale: 1.01;
    }
  }

  .no-registrations-message {
    font-size: 16px;
    text-align: center;
  }

  .delete-button {
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e74c3c;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #c0392b;
    }
  }

  .back-to-home-button {
    display: inline-block;
    padding: 10px 15px;
    width: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient(315deg, #433fff, #34ffae, #c64cff);
    background-size: 400% 400%;
    transition: background 0.3s, transform 0.3s;
    
    &:hover {
      background: linear-gradient(315deg, #2c2c77, #28b58e, #a83b9b);
      background-size: 400% 400%;
      transform: scale(1.01);
    }
  }

  #actions-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .edit-button {
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(315deg, #433fff, #34ffae, #c64cff);
    background-size: 200% 200%;
    transition: background 0.3s, transform 0.3s;

    &:hover {
      background: linear-gradient(315deg, #2c2c77, #28b58e, #a83b9b);
      background-size: 200% 200%;
      transform: scale(1.01);
    }
  }
}
